@model EmployeesCensus.Models.Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление сотрудника</h2>
@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
    <fieldset>
        <p>
            @Html.LabelFor(m => m.FirstName, "Имя")
            <br />
            @Html.EditorFor(m => m.FirstName)
        </p>
        <p>
            @Html.LabelFor(m => m.LastName, "Фамилия")
            <br />
            @Html.EditorFor(m => m.LastName)

        </p>
        <p>
            @Html.LabelFor(m => m.Age, "Возраст")
            <br />
            @Html.EditorFor(m => m.Age)
        </p>
        <p>
            @Html.LabelFor(m => m.Sex, "Пол")
            <br />
            @Html.EnumDropDownListFor(m => m.Sex)
        </p>
        <p><input type="submit" value="Добавить" /></p>
    </fieldset>
}