@model EmployeesCensus.Models.Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление сотрудника</h2>
@Html.HiddenFor(m => m.Experience.EmployeeExperienceId)
<dl>
    <dt>Имя</dt>
    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>

    <dt>Фамилия</dt>
    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt>Возраст</dt>
    <dd>
        @Html.DisplayFor(model => model.Age)
    </dd>

    <dt>Пол</dt>
    <dd>
        @Html.DisplayFor(model => model.Sex)
    </dd>
    <dt>Департамент</dt>
    <dd>
        @Html.DisplayFor(model => model.Department.Name)
    </dd>
    <dt>Язык программирование</dt>
    <dd>
        @Html.DisplayFor(model => model.Experience.ProgrammingLanguage.Name)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить"   />
}