@model EmployeesCensus.Models.Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Сотрудник  @Model.Id</h2>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.FirstName, "Имя")
            <br />
            @Html.EditorFor(m => m.FirstName)
        </p>
        <p>
            @Html.LabelFor(m => m.LastName, "Фамилия")
            <br />
            @Html.EditorFor(m => m.LastName)

        </p>
        <p>
            @Html.LabelFor(m => m.Age, "Возраст")
            <br />
            @Html.EditorFor(m => m.Age)
        </p>
        <p>
            @Html.LabelFor(m => m.Sex, "Пол")
            <br />
            @Html.EnumDropDownListFor(m => m.Sex)
        </p>
        <p>
            @Html.LabelFor(m => m.Department, "Департамент")
            <br />
            @Html.DropDownListFor(model => model.DepartmentId, ViewBag.Departments as SelectList)
        </p>

        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}