@model IEnumerable<EmployeesCensus.Models.Employee>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Перепись сотрудников</title>
</head>
<body>
    <div>
        <h3>Сотрудники</h3>
        <table>
            <tr>
                <td><p>Имя</p></td>
                <td><p>Фамилия</p></td>
                <td><p>Возраст</p></td>
                <td><p>Пол</p></td>
                <td><p>Департамент</p></td>
                <td></td>
            </tr>
            @foreach (EmployeesCensus.Models.Employee e in Model)
            {
            <tr>
                <td><p>@e.FirstName</p></td>
                <td><p>@e.LastName</p></td>
                <td><p>@e.Age</p></td>
                <td><p>@e.Sex</p></td>
                <td><p>@e.DepartmentId</p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>